<!doctype html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ if not .IsHome }}
      {{ partial "header.html" . }}
    {{ end }}

    <main id="main-content">
      {{ block "main" . }}{{ end }}
    </main>

    {{ if not .IsHome }}
      {{ partial "cta-band.html" . }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "sticky-bottom-bar.html" . }}

    {{ with resources.Get "js/main.js" }}
      {{ $mainScripts := . | minify | fingerprint }}
      <script src="{{ $mainScripts.RelPermalink }}" integrity="{{ $mainScripts.Data.Integrity }}" defer></script>
    {{ end }}
    {{ partial "schema.html" . }}
  </body>
</html>
